---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
import ProjectSection from '../components/ProjectSection.astro';
import { Project } from '../models/project';
import { Api } from '../api/api';

const projects: Project[] = await Api.getProjects();
---

<Layout title="Paco Algar">
	<Profile
	image='/public/profile.webp',
	name='Paco',
	description='A Computer Science student'
	/>
	
	<main>
		<AboutMe description="I'm a passionate about technology and computing, I have carried out multiple personal projects ranging from web development to artificial intelligence, always learning in a self-taught manner."/>
		<ProjectSection projects={projects} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
