---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Paco Algar">
	<Profile
	image='/public/profile.png',
	name='Paco',
	description='Computer science student'
	/>
	
	<main>
		<AboutMe description="I'm a passionate about technology and computing, I have carried out multiple personal projects ranging from web development to artificial intelligence, always learning in a self-taught manner."/>

		<section class="projects-section">

		</section>

		<section class="contact-section">

		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
