---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
import ProjectSection from '../components/ProjectSection.astro';
import { Project } from '../models/project';
import { Api } from '../api/api';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LanguageButton from '../components/LanguageButton.astro';
import { PROFILE_PATH } from '../common/config';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects: Project[] = await Api.getProjects();
---

<Layout title="Paco Algar">
	<Profile
	image={PROFILE_PATH}',
	greet={t('profile.greeting')}
	description={t('profile.description')}
	/>
	
	<main>
		<AboutMe
		title={t('about.title')}
		description={t('about.description')}
		/>
		<ProjectSection title={t('projects.title')} projects={projects} />
	</main>
	<LanguageButton />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
