---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
import ProjectSection from '../components/ProjectSection.astro';
import { Project } from '../models/project';
import NetworksSection from '../components/NetworksSection.astro';

const projects = [
    new Project('MiniNN', ' A minimalist deep learnig crate for rust', 'https://github.com/Pacatro/mininn'),
    new Project('GitHub', '/public/github.png', 'https://github.com/pacoalgar'),
    new Project('LinkedIn', '/public/linkedin.png', 'https://www.linkedin.com/in/pacoalgar/'),
    new Project('Twitter', '/public/twitter.png', 'https://twitter.com/pacoalgar'),
];
---

<Layout title="Paco Algar">
	<Profile
	image='/public/profile.webp',
	name='Paco',
	description='Computer Science student'
	/>
	
	<main>
		<AboutMe description="I'm a passionate about technology and computing, I have carried out multiple personal projects ranging from web development to artificial intelligence, always learning in a self-taught manner."/>
		<ProjectSection projects={projects} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
