---
interface Props {
  name: string;
  sections: string[];
}

const { name, sections } = Astro.props;
---

<header
  class="flex flex-col sm:flex-row items-center sm:justify-between py-1 gap-4"
>
  <p
    class="flex flex-row gap-4 text-lg sm:text-xl font-mononokiBoldItalic text-[#8bd5ca]"
  >
    {name}
    <button
      class="rounded border-2 border-[#8bd5ca] text-gray-50 transition duration-300 animate-border-cycle"
      id="cmd-button"
    >
      <img
        src="/terminal.svg"
        alt="Terminal icon representing a command line interface in a modern digital environment"
        class="w-6 h-6"
      />
    </button>
  </p>

  <nav class="flex items-center gap-6">
    {
      sections.map((section) => {
        let formatContent = section.toLocaleLowerCase().replace(" ", "-");

        return (
          <a href={"#" + formatContent}>
            <p class="text-lg sm:text-xl font-semibold text-[#c6a0f6]">
              {section}
            </p>
          </a>
        );
      })
    }
  </nav>
</header>
