---
interface Props {
  name: string;
  sections: string[];
}

const { name, sections } = Astro.props;
---

<header
  class="flex flex-col sm:flex-row items-center sm:justify-between py-1 gap-4"
>
  <p class="flex flex-row gap-4 text-lg sm:text-xl font-bold text-green-300">
    {name}
    <button
      class="rounded text-gray-50 hover:bg-gray-700 transition duration-300"
      id="cmd-button"
    >
      <img src="/terminal.svg" alt="terminal-logo" class="w-6 h-6" />
    </button>
  </p>

  <nav class="flex items-center gap-6">
    {
      sections.map((section) => {
        let formatContent = section.toLocaleLowerCase().replace(" ", "-");

        return (
          <a href={"#" + formatContent}>
            <p class="text-lg sm:text-xl font-semibold text-cyan-300 hover:text-[#C8A8FC] transition duration-500">
              {section}
            </p>
          </a>
        );
      })
    }
  </nav>
</header>
