---
interface Props {
  name: string;
  sections: string[];
}

const { name, sections } = Astro.props;
---

<header
  class="flex flex-col sm:flex-row items-center sm:justify-between py-1 gap-4"
>
  <p class="text-lg sm:text-xl font-bold text-green-300">
    {name}
  </p>

  <nav class="flex items-center gap-8">
    {
      sections.map((section) => {
        let formatContent = section.toLocaleLowerCase().replace(" ", "-");

        return (
          <a href={"#" + formatContent}>
            <p class="text-lg sm:text-xl font-semibold text-cyan-300 hover:text-[#C8A8FC] transition duration-500">
              {section}
            </p>
          </a>
        );
      })
    }
  </nav>
</header>
