---
const { commands } = Astro.props;
---

<dialog
  id="helpDialog"
  class="bg-[#1e1e2e] border border-cyan-400 rounded-lg p-4 w-[80vw] max-w-3xl"
>
  <div class="flex flex-col gap-4">
    <p class="text-lg sm:text-xl font-bold text-green-300">
      Available commands:
    </p>
    <ul class="list-inside text-green-300 text-lg sm:text-xl list-none">
      {
        commands.map((command: any) => {
          return (
            <li class="font-mononoki font-semibold text-pink-300 text-lg sm:text-xl">
              {command.name} {command.args ? `<${command.args}>` : ""}
              <span class="font-mononoki font-normal text-gray-50">
                - {command.description}
              </span>
            </li>
          );
        })
      }
    </ul>
  </div>
</dialog>
