<!-- TODO: Maybe add commands to the content.json file -->
<dialog
  id="helpDialog"
  class="bg-[#1e1e2e] border border-cyan-400 rounded-lg p-4 w-[80vw] max-w-3xl"
>
  <div class="flex flex-col gap-4">
    <p class="text-lg sm:text-xl font-bold text-green-300">
      Available commands:
    </p>
    <ul class="list-disc list-inside text-green-300 text-lg sm:text-xl">
      <li class="font-mononoki text-pink-300 text-lg sm:text-xl">
        goto _section_ <span class="font-mononoki text-gray-50">
          - Go to a section of the portfolio</span
        >
      </li>
      <li class="font-mononoki text-pink-300 text-lg sm:text-xl">
        visit _project_ <span class="font-mononoki text-gray-50"
          >- Visit a project</span
        >
      </li>
    </ul>
  </div>
</dialog>
