---
interface Props {
  contents: string[];
}

const { contents } = Astro.props;
---

<header>
  <nav class="flex items-center gap-8">
    {
      contents.map((content) => (
        <a href={"#" + content.toLowerCase()}>
          <p class="text-xl font-bold">{content.toUpperCase()}</p>
        </a>
      ))
    }
  </nav>
</header>
