---
import GithubIcon from '../icons/github.astro';
import LinkedinIcon from '../icons/linkedin.astro';
import XIcon from '../icons/x.astro';
import InstagramIcon from '../icons/instagram.astro';
---

<section class="networks-section">
    <h2>Social</h2>

    <a href="https://github.com/Pacatro" target="_blank">
        <GithubIcon />
    </a>

    <a href="https://www.linkedin.com/in/paco-algar/" target="_blank">
        <LinkedinIcon />
    </a>

    <a href="https://x.com/P4k02" target="_blank">
        <XIcon />
    </a>

    <a href="https://www.instagram.com/paco.algar/" target="_blank">
        <InstagramIcon />
    </a>
</section>


<style>
    .networks-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
</style>