---
import Prompt from "./Prompt.astro";
import Projects from "./preact/Projects.tsx";

// import content from "../../content.json";

interface Props {
  path?: string;
  command?: string;
  id?: string;
}

const { path = "", command = "ls", id } = Astro.props;
---

<section class="mt-20" id={id}>
  <Prompt path={path} command={command} />
  <Projects client:load />
  <!-- TODO: I still thinking if include this or not -->
  <!-- <div class="text-center"> -->
  <!--   <a  -->
  <!--     href=`https://github.com/${content.githubProfile}?tab=repositories`  -->
  <!--     target="_blank"  -->
  <!--     rel="noopener noreferrer" -->
  <!--     class="text-cyan-300 hover:text-[#C8A8FC] transition-colors duration-300 font-mononokiBoldItalic text-lg" -->
  <!--   > -->
  <!--     More on my GitHub → -->
  <!--   </a> -->
  <!-- </div> -->
</section>
