---
import Prompt from "./Prompt.astro";
import Projects from "./preact/Projects.tsx";

interface Props {
  path?: string;
  command?: string;
  id?: string;
}

const { path = "", command = "ls", id } = Astro.props;
---

<section class="mt-20" id={id}>
  <Prompt path={path} command={command} />
  <Projects client:load />
  <div class="mt-8 text-center">
    <a 
      href="https://github.com/pacatro" 
      target="_blank" 
      rel="noopener noreferrer"
      class="text-cyan-300 hover:text-[#C8A8FC] transition-colors duration-300 font-mononokiBoldItalic text-lg"
    >
      more on my github →
    </a>
  </div>
</section>
