---
import ProjectCard from "../components/ProjectCard.astro";
import type { Project } from "../api/project";
import Prompt from "./Prompt.astro";

interface Props {
  path?: string;
  command?: string;
  projects: Project[];
  id?: string;
}

const { path = "", command = "ls", projects, id } = Astro.props;
---

<section class="mt-20" id={id}>
  <Prompt path={path} command={command} />
  <div>
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
