---
import Prompt from "./Prompt.astro";
import Projects from "./preact/Projects.tsx";

interface Props {
  path?: string;
  command?: string;
  id?: string;
}

const { path = "", command = "ls", id } = Astro.props;
---

<section class="mt-20" id={id}>
  <Prompt path={path} command={command} />
  <Projects client:load />
</section>
