---
const { path, command } = Astro.props;
---

<div class="">
  <p class="text-lg sm:text-xl font-bold text-[#8bd5ca] lowercase">~/{path}</p>
  <p class="text-lg sm:text-xl font-bold text-[#f5bde6] lowercase">
  <span class="text-[#a6da95]">â¯</span> {command}
  </p>
</div>
