---
const { path, command } = Astro.props;
---

<div class="">
  <p class="text-lg sm:text-xl text-[#C8A8FC] lowercase">~/{path}</p>
  <p class="text-lg sm:text-xl text-green-300 lowercase">> {command}</p>
</div>
