---
import GithubIcon from '../icons/github.astro';
import LinkedinIcon from '../icons/linkedin.astro';
import XIcon from '../icons/x.astro';
import InstagramIcon from '../icons/instagram.astro';
import Email from '../icons/email.astro';
---

<div class="networks-section">
    <a href="https://github.com/Pacatro" target="_blank">
        <GithubIcon />
    </a>

    <a href="https://www.linkedin.com/in/paco-algar/" target="_blank">
        <LinkedinIcon />
    </a>

    <a href="https://x.com/P4k02" target="_blank">
        <XIcon />
    </a>

    <a href="https://www.instagram.com/paco.algar/" target="_blank">
        <InstagramIcon />
    </a>

    <a href="mailto:paco.algar.15@gmail.com" target="_blank">
        <Email />
    </a>
</div>

<style>
    a {
        text-decoration: none;
    }

    .networks-section {
        display: flex;
        flex-direction: row;
        gap: .8rem;
    }
</style>