---
import Prompt from "./Prompt.astro";

const { path = "", command, description, id } = Astro.props;
---

<section class="mt-20" id={id}>
  <Prompt path={path} command={command} />
  <p class="text-sm sm:text-lg mt-4">
    {description}
  </p>
</section>
